body{
    background-color: lightblue;
}

#container{
    background-color: red;
    height: 300px;
    width: 500px;
    position: relative;
}

#box{
    background-color: purple;
    height: 100px;
    width: 500px;
    position: absolute;
    top: 100px;
}

#circle{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    left: 210px;
    top: 10px;
}